<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title> Itunes Angular App </title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="bower_components/ng-grid/ng-grid.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="mainCtrl">
<md-content>
    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-music"></span> iTunes w/ Angular

            </a>
        </h2>
    </md-toolbar>
    <md-toolbar flex class="md-accent" style="height:150px" layout="row" layout-align="center center">
        <div flex="45" layout="column" layout-align="space-between center" layout-margin layout-fill layout-padding>
            <div> Search Itunes</div>
            <div layout-fill>
                <input type="text" class="form-control" placeholder="Search iTunes" ng-model="defaultInfo.search"
                       ng-change="getAjaxSong(defaultInfo.search)">
            </div>
            <div layout-fill>
                <select class="form-control" ng-model="defaultInfo.mediaType" ng-change="getAjaxSong()">
                    <option value="all" selected="">All</option>
                    <option value="musicVideo">Music Video</option>
                    <option value="movie">Movie</option>
                    <option value="musicTrack">Music</option>
                    <option value="podcast">Podcast</option>
                    <option value="tvShow">TV Show</option>
                </select>
            </div>
        </div>
        <div flex="45" layout="column" layout-align="space-between center" layout-margin layout-fill layout-padding>
            <div> Filter Results</div>
            <div layout-fill>
                <input type="text" class="form-control" placeholder="Filter Data" ng-model="filterOptions.filterText">
            </div>
            <div layout-fill>
                <select class="input-mediumng form-control" ng-model="defaultInfo.sortBy" ng-change="updateSortInfo()"
                        placeholder="Sort by">
                    <option value="Song">Media Item Name</option>
                    <option value="Artist">Artist</option>
                    <option value="Collection">Collection Name</option>
                    <option value="Type" selected="">Media Type</option>
                </select>
            </div>
        </div>
    </md-toolbar>
    <md-whiteframe class="md-whiteframe-z5" layout layout-align="center center">
        <div class="panel-heading">
            <h1> Your Search Results: </h1>
        </div>
    </md-whiteframe>
    <div class="gridStyle" ng-grid="gridOptions" swap-image="defaultInfo.search"></div>
</md-content>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>
</body>
</html>